//슬라이드 버튼 구성
@mixin slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

//슬라이드 이전버튼 구성
@mixin btn-prev ($width, $height, $image) {
    @include slide-btn;

    width: $width;
    height: $height;
    left: -$width;
    background-image: url("../imgs/common/#{$image}.png");
}

//슬라이드 다음버튼 구성
@mixin btn-next ($width, $height, $image) {
    @include slide-btn;

    width: $width;
    height: $height;
    right: -$width;
    background-image: url("../imgs/common/#{$image}.png");
}

// 리포트 con-title
@mixin con-title ($width, $image) {
    width: $width;
    height: 28px;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding-left:13px;
    line-height: 27px;
    background: url("../imgs/report/#{$image}.png") 0 0 no-repeat;
}