@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

a, button, select, input[type="button"] {
    cursor: pointer;
}

button {
    border: none;
    background-color: transparent;
}

a {
    &:link {
        text-decoration: none;
        color: #000;
    }

    &:visited {
        color: #000;
    }
}

input::placeholder,
textarea::placeholder {
    color: #999;
    font-weight: 500;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}