@import "~reset-css/sass/_reset";
@import "./themes/theme";
@import "./helpers/mixins";

$color-green: #1CC98F;
$color-green-hover: #8DE2C7;
$color-blue: #00a0e9;
$color-light-blue: #d9f1fc;
$color-blue-hover: #9FD4FA;

$color-skyblue: #eaf6fc;
$color-navy: #1d2088;
$color-dark-green: #a4cd4e;
$color-lime: #8fc31f;
$color-orange: #ed9027;
$color-light-orange: #fbe9d4;
$color-dark-pink: #e73d88;
$color-light-pink: #fbe2ed;

body {
    font-family:'Noto Sans KR','Roboto', sans-serif;
  }

// result 페이지 
// result-top
.right-top.result-top {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    padding: 0 2%;
    overflow-y: auto;

    //공통
    .flex-box {
        width: 33.3%;

        &.plan-menu {
            li {
                display: inline-block;
                width: 35px;
                height: 33px;
                margin: 0 15px;

                button {
                    width: 100%;
                    height: 100%;
                    color: #fff;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                }
            }
        }
    }

    .flex-box.title {
        text-align: center;
        color: $color-green;
        font-size: 23px;

        button {
            margin: 0 25px;
            font-size: 22px;
            color: #fff;
    
            &:hover {
                color: $color-green;
            }
        }
    }

    .left-side {
        .report-thumb button {
            background-image: url("./imgs/result/result-btn1.svg");

            &:hover {
                background-image: url("./imgs/result/result-btn1_o.svg");
            }
        }

        .report-canvas button {
            background-image: url("./imgs/result/result-btn2.svg");

            &:hover {
                background-image: url("./imgs/result/result-btn2_o.svg");
            }
        }

        .report-bookmode button {
            background-image: url("./imgs/result/result-btn3.svg");

            // &:hover {
            //   background-image: url("./imgs/result/result-btn3_o.svg");
            // }
        }

        .report-print button {
            background-image: url("./imgs/result/result-btn4.svg");

            &:hover {
                background-image: url("./imgs/result/result-btn4_o.svg");
            }
        }
    }

    .right-side {
        text-align: right;

        .report-menu button {
            background-image: url("./imgs/result/result-btn5.svg");

            &:hover {
                background-image: url("./imgs/result/result-btn5_o.svg");
            }
        }

        .report-fullscreen button {
            background-image: url("./imgs/result/result-btn6.svg");

            &:hover {
                background-image: url("./imgs/result/result-btn6_o.svg");
            }

            &.full {
                background-image: url("./imgs/result/result-btn7.svg");

                &:hover {
                    background-image: url("./imgs/result/result-btn7_o.svg");
                }
            }
        }
    }
}

.result-report {
    width: 100%;
    height:fit-content;
    background-color: #fff;

    .report-wrap {
        position: relative;
        padding: 65px 0;
        margin: 0 70px;
    }

    .swiper {
        overflow: hidden;
        min-width: 1404px; 

        .swiper-wrapper {
            display: flex;
            width: fit-content;

            .swiper-slide {
                min-width: 1404px;     
            }
        }
    }

    .report-container {
        position: relative;
        width: 1405px;
        height:883px;
        margin: 0 auto;

        .report-main {
            width: 90%;
            height : 863px;
            margin: 0 auto;
        }

        .side-title {
            position: absolute;
            right: -55px;
            top: 79px;
            width: 184px;
            height: 46px;
            padding-left: 20px;
            line-height: 56px;
            transform: rotate(90deg);
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            background-color: #2b3990;
        }

        .report-footer {
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 90%;
            transform: translateX(-50%);
            padding-top: 7px;
            border-top: 2px solid #ccc;
            font-size: 11px;
            color: #6D6E70;
            white-space: nowrap;
    
            .name span {
                font-size: 12px;
            }
        }
    }

    .prev-btn {
        @include btn-prev(44px,64px,prev);

        &:hover {
            @include btn-prev(44px,64px,prev_o);
        }
    }

    .next-btn {
        @include btn-next(44px,64px,next);

        &:hover {
            @include btn-next(44px,64px,next_o);
        }
    }
}

// report-cover.tsx
.start-report {
    position: relative;
    width: 1405px; 
    height: 863px;
    margin: 0 auto;
    background: url("./imgs/report/intro_cover_new_01.jpg") no-repeat;
    background-size: 100% 100%;

    .logo {
        position: absolute;
        left: 142px;
        top: 132px;
        width: 80%;
        height: 153px;
        background: url("./imgs/report/logo_tx.png") no-repeat;
    }

    .report-title {
        position: absolute;
        left: 145px;
        bottom: 155px;
        font-weight: 500;
        color: #1f1f1f;

        .title {
            line-height: 1.3;
            font-size: 46px;
            margin-bottom: 30px;
            letter-spacing: 1px;
        }

        .date,
        .name {
            font-size: 24px;
            margin-bottom: 15px;
        }
    }
}

//report-intro.tsx
.second-img {
    width: 100%;
    height: 100%;
    background: url("./imgs/report/02.png") no-repeat;
    background-position: center center;
    background-size: 100% 90%;
}

//report - thumbnails
.report-thumbnails {
    position: fixed;
    right: 0;
    bottom: 0;
    width: calc(100% - 358px);
    height: 220px;
    background-color: rgba(0, 0, 0, .8);
    transform: translateY(220px);
    transition: all 0.5s;

    &.show {
        transform: translateY(0);
    }

    &.full {
        width: 100%;
    }

    .swiper {
        position: relative;
        width: 1302px;
        height: 220px;
        margin: 0 auto;
        overflow: hidden;
        
        .swiper-wrapper {
            display: flex;
            width: fit-content;
            padding-top: 25px;

            .swiper-slide {

                .thumbnails {
                    position: relative;
                    width: 199px;
                    height: 140px;

                    img.selected {
                        border: 2px solid $color-green;
                    }

                    button {
                        position: absolute;
                        top: -1px;
                        right: 9px;
                        width: 37px;
                        height: 56px;
                        background: url("./imgs/result/bookmark.png") no-repeat;
                        background-size: 100%;

                        &.mark-on {
                            background: url("./imgs/result/bookmark_o.png") no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }

        .swiper-scrollbar {
            position: absolute;
            left: 0;
            bottom: 14px;
            width: 100%;
            height: 15px;
            background: #efefef;
            border-radius: 12px;

            .swiper-scrollbar-drag {
                height: 28px;
                position: relative;
                background: #000;
                border: 1px solid #ddd;
                border-radius: 10px;
                left: 0;
                top: -7px;
            }
        }
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 32px;
        height: 32px;
        background: url("./imgs/popup/layer-close.png") no-repeat;
        transition: all .9s;

        &:hover {
            transform: rotate(270deg);
        }
    }

    .bookmark-list {
        position: absolute;
        top: 72px;
        left: 35px;
        width: 36px;
        height: 51px;
        background: url("./imgs/result/book_chk.png") no-repeat;
        background-size: 100% 100%;
    }
}

//thumbmails wide
.wide .report-thumbnails {
    width: calc(100% - 74px);
}

//report - list
.report-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 515px;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    transform: translateX(515px);
    transition: all 0.5s;
    overflow-y:auto;
    overflow-x: hidden;

    &.show {
        transform: translateX(0);
    }

    .report-list-title {
        width: 100%;
        padding-left: 28px;
        line-height: 74px;
        font-size: 23px;
        color: $color-green;
    }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 25px;
        width: 32px;
        height: 32px;
        background: url("./imgs/popup/layer-close.png") no-repeat;
        transition: all .9s;

        &:hover {
            transform: rotate(270deg);
        }
    }

    .report-list-detail {
        position: relative;
        width: 100%;
        padding-left: 28px;

        li {  
            padding-bottom: 3px;
            cursor: pointer;
            
            span {
                position: relative;
                line-height: 1.9;
                font-size: 22px;
                font-weight: 300;
                color: #fff;
                cursor: pointer;

                &:hover {
                    color: $color-green;
                }

                &::before {
                    position: absolute;
                    top: -33px;
                    left: -22px;
                    content:"· ";
                    font-size: 50px;
                }

                &.on {
                    color: $color-green;
                    
                    &::before {
                        position: absolute;
                        top: -33px;
                        left: -22px;
                        content:"· ";
                        font-size: 50px;
                    }
                }
            }

            .list-detail {
                position: absolute;
                top: 0;
                right: 0;
                padding: 5px;
                line-height: 1.5;
                font-size: 20px;
                font-weight: 300;
                color: #fff;

                &.list2 {
                    right: 176px;
                }

                li:hover {
                    color: $color-green;
                } 
            }
        }
    }
}

// report
h1.title {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 500;
    color: #2a388f;
}

.explain {
    font-size: 20px;
    color:#2a388f;
    margin-bottom: 18px;

    .stress {
        font-weight: 500;
        text-decoration: underline;
    }
}

//report-need
// checklist
.insu-check-list {
    
    .chk-title {
        width: 100%;
        padding-top: 30px;
        padding-left: 47px;
    
        i {
            display: inline-block;
            width: 250px;
            height: 64px;
            background: url("./imgs/report/good_insur_title.png") no-repeat;
            background-size: 100% 100%;
        }
    }   

    .check-list {
        
        li {
            display: flex;
            align-items: center;
            width: 95%;
            height: 72px;
            margin-top: 11px;
            border: 1px solid #000;
            border-radius: 40px 0 0 50px;

            .chk {
                position:relative;
                display: inline-block;
                width: 27%;
                height: 72px;
                line-height: 72px;
                text-indent: 100px;
                border-radius: 40px 0 0 50px;
                font-size: 21px;
                font-weight: 500;
                color: #1465ab;
                background-color: #d4edf9;

                $list-icon: (good_insur_ico1, good_insur_ico2, good_insur_ico3, good_insur_ico4, good_insur_ico5, good_insur_ico6);

                @each $list-icon in $list-icon {
                    &.#{$list-icon}::before {
                        position: absolute;
                        left: 35px;
                        top: 6px;
                        display: inline-block;
                        content:"";
                        width: 70px;
                        height: 60px;
                        background: url("./imgs/report/#{$list-icon}.png") no-repeat;
                        background-position: 0% center;
                        background-size: 70%;
                    }
                }
            }

            &:nth-child(odd) .chk {
                background-color:#cfe2f1;
            }

            .txt {
                width: 72%;
                padding-left: 23px;
                font-size: 16px;
            }
        }
    }
}

// deathcause
.death-cause {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }
}

// cancerinfo
.cancer-info {
    padding: 30px 50px 30px 20px;

    .left-side {
        float: left;
        position: relative;

        img {
            position: absolute;
            left: 0;
            top: 30px;
            width: 550px; 
        }

        .tumor {
            position: absolute;
            height: 47px;
            line-height: 47px;
            text-align: center;
            box-shadow: 6px 6px 33px 8px rgba(189,189,189,0.7);
            font-size: 24px;
            font-weight: 500;
            color: #fff;

            span {
                font-size: 18px;
                font-weight: 300;
            }

            &.tumor1 {
                left: 225px;
                top: 263px;
                width: 150px;
                background-color: #7E318D;
            }

            &.tumor2 {
                left: 416px;
                top: 84px;
                width: 255px;
                background-color: #046EB8;
            }

            &.tumor3 {
                left: 512px;
                top: 273px;
                width: 323px;
                background-color: #a4cd4e;
            }

            &.tumor4 {
                left: 419px;
                top: 458px;
                width: 270px;
                background-color: #E50012;
            }
        }
    }

    .right-side {
        float: right;
        width: 300px;
        padding-top: 30px;

        .cancer-kind {
            width: 100%;
            height: 180px;
            font-size: 16px;
            
            strong {
                display: inline-block;
                width: 100%;
                padding: 20px 0;
                font-size: 28px;
                font-weight: 500;
            }
            
            span {
                line-height: 25px;
            }

            &.cancer1 {
    
                strong {
                    color:#e50012;
                    border-top: 3px solid #e50012;
                }
            }
    
            &.cancer2 {
    
                strong {
                    color:#046EB8;
                    border-top: 3px solid #046EB8;
                }
            }
    
            &.cancer3 {
    
                strong {
                    color:#a4cd4e;
                    border-top: 3px solid #a4cd4e;
                }
            }
        }
    }

    .noti {
        position: absolute;
        left: 100px;
        bottom: 120px;
        font-size: 14px;
        color: #2a388f;
    }
}


// cancerfee
.cancer-fee {
    padding: 30px 70px 0 30px;

    img {
        width: 100%;
    }
}

// ranking
.ranking {
    padding: 20px 30px 20px 0;
    display: flex;
    justify-content: space-between;

    .rank-chart {
        width: 605px;

        .rank-title {
            position: relative;
            width: 100%;
            height: 65px;
            line-height: 65px;
            text-align: center;
            border-radius: 10px 10px 0 0;
            font-size: 24px;
            font-weight: 500;
            color: #fff;

            i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                width: 48px;
                height: 34px;
            }

            &.surgery-title {
                background-color: #a4cd4e;
                
                i {
                    left: 60px;
                    background: url("./imgs/report/surgery_ranking.png") no-repeat;
                }
            }

            &.hospitalization-title {
                background-color: #00A0E8;
                
                i {
                    right: 60px;
                    background: url("./imgs/report/hospitalized_ranking.png") no-repeat;
                }
            }
        }
        
        ul {
            border: 1px solid #ccc;
            
            li {
                display: flex;
                justify-content: space-between;
                height: 55px;
                line-height: 55px;
                padding:0 20px;
                border-bottom: 1px solid #eee;

                &:not(:first-child) {
                    font-size: 19px;

                    p:last-child {
                        font-weight: 300;
                    }
                }
                
                &:first-child {
                    padding:0 10px;
                    border-bottom: 1px solid #ccc;
                    font-size: 16px;
                    font-weight: 500;
                }

                &:last-child {
                    border-bottom: 0;
                }

                p {
                    span {
                        display: inline-block;
                        width: 45px;
                    }
                }
            }
        }

        .refer {
            padding-top: 5px;
            font-size: 14px;
            font-weight: 400;
            color: #6d6e71;

            &.refer2 {
                text-align: right;
            }
        }
    }
}

//report-table 공통사용
.report-table {
    width: 100%;

    thead {
        th {
            padding: 9px 4px;
            font-size: 15px;
            font-weight: 500;
            vertical-align: middle;
            color: #fff;
            background-color: #1d2088;

            span {
                font-size: 14px;
                font-weight: 400;
            }

            &:not(:last-child) {
                border-right: 1px solid #dcdddd;
            }
        }
    }
    
    tbody {
        line-height: 15px;
        font-size: 13px;

        th {
            padding: 9px 4px;
            color: #000;
            font-weight: 500;
            vertical-align: middle;
            border-left: 1px solid #dcdddd;
            border-bottom: 1px solid #dcdddd;
        }

        td {
            padding: 9px 4px;
            border: 1px solid #dcdddd;
            text-align: center;
            vertical-align: middle;
            font-weight: 400;

            .red {
                color: #c30d23;
            }
        }
    }
}

// expenses1,2
.medical-expenses {
    padding: 30px 10px 0 0;

    .expenses-table {
        width: 100%;
        
        @extend .report-table;
    }
}

// guarantee-info1,2
.guarantee-info {
    padding: 30px 10px 0 0;

    .guarantee-info-table {
        @extend .report-table;

        &.info-table2 {
            tbody td {
                line-height: 33px;
            }
        }

        tbody {
            border: 1px solid #dcdddd;

            td {
                border: none;
                padding: 0 10px;
                line-height: 23px;
                font-size: 15px;
                text-align: left;

                &[rowSpan] {
                    border: 1px solid #dcdddd;
                    text-align: center;

                    & ~ td {
                        border-top: 1px solid #dcdddd;
                        border-right: 1px solid #dcdddd;
                    }
                }

                &:not([rowSpan]) {
                    border-right: 1px solid #dcdddd;
                }

                &:last-child {
                    font-size: 14px;
                    font-weight: 300;
                    color: #333;
                }
            }
        }
    }
}

// note 
.caution {
    padding: 40px 40px 40px 0;

    ul {
        padding: 30px 50px 20px 60px;
        background-color: #efefef;

        li {
            position: relative;
            font-size: 17px;
            line-height: 1.7;
            padding-bottom: 10px;

            &::before {
                content: "▶";
                position: absolute;
                top: 0;
                left: -30px;
            }
        }
    }
}

//FP-container
.fp-plan-container {
    margin: 0 70px;

    .fp-plan-title {
        @include con-title(355px, con_title);
        margin-top: 60px;
        padding-bottom: 20px;
    }

    .fp-plan-table {
        @extend .report-table;

        thead {
            th {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                color: #000;
                background-color: #efefef;

                &:not(:last-child) {
                    border-right: 0;
                }
            }
        }

        tbody {
            td {
                height: 60px;
                line-height: 20px;
                border: 1px solid #eee;
                border-left: 0;
                font-size: 15px;
                color: #333;

                &:not(:first-child) {
                    padding-left: 20px;
                    padding-right: 20px;
                    text-align: left;
                }
                
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}

// 보장성보험 가족가입현황 report-family-insu
.family-insu {
    padding-right: 10px;

    .content-area {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;

        .content-box {
            width: 620px;
            height: 315px;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    }

    // 보장성보험 가족가입현황 첫번째 페이지
    .top {
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        width: 100%;
        height: 63px;
        line-height: 63px;
        font-weight: 500;
        background-color: #EAF6FC;

        strong {
            margin-left: 7px;
            font-size: 30px;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding-top: 60px;
        font-size: 16px;
        font-weight: 400;

        .cus-img {
            display: inline-block;
            width: 73px;
            height: 74px;
            margin-bottom: 22px;
        }

        span {
            display: inline-block;
            margin-bottom: 7px;

            strong {
                font-size: 26px;
                font-weight: 500;
            }
        }
    }

    .chart-box{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px;

        .chart-desc {
            width: 250px;

            i {
                display: inline-block;
                margin-bottom:10px;
            }

            .chart-result {
                margin-bottom: 28px;
                font-size: 20px;
                line-height: 27px;
                font-weight: 500;

                span {
                    color: #e5241a;
                }
            }

            .chart-info {
                display: flex;
                flex-direction: column;
                font-size: 16px;
                font-weight: 500;
                color: #040000;

                span {
                    margin-top: 12px;
                    line-height: 20px;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }

        .chart-area {
            width: 250px;
        }
    }

    .family-info {
        width: 100%;

        .table-title {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            padding-bottom: 15px;

            .title {
                @include con-title(269px, con_title_m);
            }

            .date {
                font-size: 14px;
            }
        }
    }

    // 보장성보험 가족가입현황 두번째 페이지
    .page2-box1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        .left-side {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-right: 2px solid #ccc;

            p {
                display: flex;
                flex-direction: column;
                padding: 25px 30px 0 50px;
                font-size: 16px;

                span {
                    margin-bottom: 20px;

                    strong {
                        font-size: 25px;
                    }

                    &.name {
                        position: relative;
                        display: inline-block;
                        font-size: 22px;

                        img {
                            position: absolute;
                            top: calc(50% - 20px);
                            left: -50px;
                            width: 40px;
                        }
                    }

                    &.cus-info {
                        line-height: 25px;
                    }

                    &.insu-monthly {
                        position: relative;
                        font-weight: 500;

                        img {
                            position: absolute;
                            top: calc(50% - 15px);
                            left: -48px;
                            width: 38px;
                        }
                    }
                }
            }
        }   
        
        .right-side {
            width: 240px;
            padding-right: 5px;
            
            .chart-circle {
                width: 100%;
                height: 160px;
            }

            p {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 13px;
                font-size: 17px;

                &:last-child {
                    margin-bottom: 0;
                }

                strong {
                    font-weight: 500;
                }
            }
        }
    }
}

.skyblue-table {
    @extend .report-table;

    thead {
        border: 1px solid #ccc;
        
        th {
            padding: 7px 4px;
            font-weight: 400;
            background-color:#EAF6FC;
            color: #000;
            white-space: nowrap;

            &:not(:last-child) {
                border-right: none;
            }
        }
    }

    tbody {
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;

        tr {
            &:not(:first-child) {
                border-top: 1px solid #eee;
            }

            td {
                font-weight: 400;
                height: 30px;
                border: none;
                font-size: 16px;
                white-space: nowrap;
            }
        }
    }
}

// customer-insu.tsx 테이블 개별작업
.insu-list-table {

    tbody {
        tr {
            td {
                font-weight: 400;

                &:nth-child(3) {
                    max-width: 250px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

//report-analysis-recipe.tsx
.health-analysis-recipe {
    padding-right: 30px;

    h2 {
        padding: 10px 0 15px;
        font-size: 23px;
        font-weight: 500;
        color: $color-navy;

        span {
            margin-left: 10px;
            font-size: 17px;
            font-weight: 400;
        }
    }

    .recipe-area {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .recipe-box {
            width: 32%;
            height: 720px;
            border: 1px solid #ccc;
        }

        .recipe-title {
            width: 100%;
            height: 65px;
            line-height: 65px;
            text-align: center;
            font-size: 21px;
            font-weight: 500;
            color: #fff;

            &.blue {
                background-color: $color-blue;
            }

            &.green {
                background-color: $color-dark-green;
            }

            &.navy {
                background-color: $color-navy;
            }

            .title-icon {
                display: inline-block;
                height: 40px;
                margin-right: 15px;
                vertical-align: -17%;

                img {
                    height: 100%;
                }
            }
        }

        .recipe-list {
            padding: 20px 30px;

            li {
                position: relative;
                height: 60px;
                margin-bottom: 15px;
                padding: 0 30px 0 45px;
                line-height: 60px;
                border-radius: 30px;
                font-size: 17px;
                font-weight: 500;
                color: $color-navy;
                background-color: $color-skyblue;

                &::before {
                    position: absolute;
                    top: 50%;
                    left: 20px;
                    transform: translateY(-50%);
                    content: "";
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: url("./imgs/report/health/icon-check@2x.png") no-repeat;
                    background-size: 100% 100%;
                } 
            }
        }
    }
}