@import "~reset-css/sass/_reset";
@import "./themes/theme";
@import "./helpers/mixins";
@import "./report.scss";

*{
    font-family:'Noto Sans KR','Roboto', sans-serif;
  }
  
  html {
    font-family:'Noto Sans KR','Roboto', sans-serif;
    height: 100%;
  }
  
  body, #root {
    height: 100%;
    overflow: hidden;
    font-family:'Noto Sans KR','Roboto', sans-serif;
  }
  // @import "./base/_reset";
  
  $color-green: #1CC98F;
  $color-green-hover: #8DE2C7;
  $color-blue: #00a0e9;
  $color-blue-hover: #9FD4FA;
  
  // 토스트 라이브러리 CSS
  @import '~react-toastify/dist/ReactToastify.css';
  